<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Instagram Posts</h1> <hr>
    <%for(post of posts) {%>
        <div>
            <h4>@<%= post.username%></h4>
            <h3><%=post.name%></h3>
            <a id="img" href="http://localhost:8080/posts/<%=post.id%>">See in detail</a><br>
             <a id="img" href="http://localhost:8080/posts/<%=post.id%>/edit">Edit</a>
            <br>
            
             <form method="post" action="posts/<%=post.id%>?_method=DELETE">
                <button class="btn">Delete post</button>
             </form>
        </div>
    <%}%>
    <br>
    <a href="http://localhost:8080/posts/new">Add posts</a>

</body>
</html>